aiohttp
aiosignal
ankh
charset-normalizer
certifi
click
datasets==1.18.3
dateutil
dill
filelock
flax==0.4.0
fsspec
git+https://github.com/facebookresearch/esm.git@2b369911bb5b4b0dda914521b9475cad1656b2ac
huggingface-hub
idna
jax==0.3.0
joblib
mpmath
multidict
multiprocess
numpy
optax
packaging
pandas
pyaml
python-dateutil
pytorch-triton
pytz
PyYAML
regex
sacremoses
sentencepiece==0.1.96
sequence-models
six
sympy
tokenizers==0.11.6
torch
torch-geometric
torch-scatter
torch-spline-conv
torch-sparse
torch-cluster
tqdm
transformers==4.17
typing-extensions
tzdata
urllib3
wandb==0.12.11